<div class="cards">
  <div class="playingCards faceImages">
    <app-card
      *ngFor="let cards of card"
      [suit]="cards.suit"
      [rank]="cards.rank"
    >
    </app-card>
  </div>

  <hr/>

  <button (click)="giveCard()" [disabled]="Score() >= 21">Give another card </button>
  <button (click)="reset()">Reset </button>

  <p >score: {{Score()}}</p>

  <p *ngIf="Score() === 21">You win!</p>
  <p *ngIf="Score() > 21">You lose!</p>

</div>
